* {

    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
    background-color: #FAD8D6;
    margin: 0;
}

#site-container {
    display: flex;
}

#header {
    background-color: #2E282A;
    padding: 1.1em;
}

#title {
    text-align: center;
    color: #C0BCB5;
    margin: 0.4em 0;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#button-container {
    align-self: center;
    margin: 5em 0;
}

#clear,
#new-grid {
    margin: 0 4em;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #2E282A;
    background-color: #17BEBB;
    font-size: 1.2em;
    color: #EF3E36;
    transition: all 0.1s ease-in-out;
}

#clear:hover,
#new-grid:hover {
    transform: scale(1.2) perspective(1px);
}

#container {
    display: grid;
    width: 800px;
    height: 800px;
    margin: 20px 0 0 20px;
    border: 1px solid black;
    padding: 2px;
    background-color: #BCA0BC;
}

#rgb-buttons {
    display: flex;
    gap: 10px;
    align-self: center;
    margin-top: 45px;
}

#red,
#green,
#blue {
    flex: auto;
    padding: 30px 0;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

.square {
    display: inline-block;
    border: solid #F9B9F2 1px;
}


