* {

    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100vh;
}

#site-container {
    display: flex;
}

#menu {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#clear {
    align-self: center;
    margin: 5em 0;
}

#container {
    display: grid;
    width: 800px;
    height: 800px;
}



.square {
    display: inline-block;
    border: solid pink 1px;
}